env
*.pyc
example/data/
example/test-data/csv/
disclosure-backend/test-data/csv
disclosure-backend/.static
settings_local.py

npm-debug.log
# Compiled Server Files
static
reports

# Third Party Dependencies
node_modules

# Webstorm Files
.idea
