Django
mysqlclient
Sphinx
coverage
hurry.filesize
pep8
psycopg2
pyflakes
python-coveralls
python-dateutil
requests
sphinx-autobuild
-e git+git@github.com:adborden/swagger-py.git@dab635c6c242b11c81add0069c7d9ee1c842e866#egg=swaggerpy-master
tox
clint
csvkit
subsample
