<header class="header">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home"><i class="fa fa-reorder visible-xs-inline-block"></i> ODCA</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <!--<li ui-sref-active="active"><a ui-sref="pages.about">About</a></li>-->
            <li ui-sref-active="active"><a ui-sref="examplePage1">Example Page 1</a></li>
						<li ui-sref-active="active"><a ui-sref="examplePage2">Example Page 2</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>