{% autoescape off %}
Report for module '{{name}}'

Date:
  {{now}}

Command:
  {{command}}

Return code:
  {{retvalue}}

Stdout (if any):

{{stdout}}

Stderr (if any):

{{stderr}}

{% endautoescape %} 
